{% extends 'layouts/default' %}

{% block main %}

<section class="hero block home-slider">
  <div class="slider-mobile">
    <div class="slide">
      <img src="" alt="">
      <div class="content">
        <h1>Making Your Ideas Happen With Action Printers</h1>
        <p>See what we can do for you</p>
        <footer class="button-group">
          <a href="#" class="btn reverse">Our Services</a>
        </footer>
      </div>
    </div>
  </div>
  <div class="indicators"></div>
</section>

<section class="container">

  <section class="body-text block">
    <h2>We're Your</h2>
    <p></p>
    <footer class="button-group"><a href="" class="btn"></a><a href="" class="btn alt"></a></footer>
  </section>
</section>

{% endblock %}
