<section class="pre-footer">
  <h2>Promo Store</h2>
  <p>Looking for promotional products? We’ve got you covered! Whether you are looking for a specific item or just browsing for ideas, our store is your one-stop source.</p>
  <a href="#" class="btn">Our Store</a>
  <h3>Our Location</h3>
  <address class="">
    300 E. Harrison<br />
    Coeur d’Alene, Id 83814
  </address>
  <h3>Contact Us</h3>
  <a href="tel:208-667-2488">208-667-2488</a>
  <a href="tel:1-800-848-9688">1-800-848-9688 (toll free)</a>
</section>
<footer class="site-footer">
  <nav class="social-media">
    <ul>
      <li><a href="#"><img src="https://placehold.it/30x30" alt=""></a></li>
      <li><a href="#"><img src="https://placehold.it/30x30" alt=""></a></li>
      <li><a href="#"><img src="https://placehold.it/30x30" alt=""></a></li>
    </ul>
  </nav>
  <section>
    <p>Copyright 2015 Action Printers</p>
    <p>All Rights Reserved</p>
    <p>This is a bahlr site</p>
  </section>
</footer>
